
@{
    Layout = null;
    var a = 10.5;
    var b = 20;

    int v = 100;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    <ul >
        <li>@Html.ActionLink("主页", "Index", "Home")</li>
        <li>@Html.ActionLink("关于", "About", "Home")</li>
        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
        <li>@Html.ActionLink("Welcome", "Welcome", "Home")</li>
    </ul>


    <div>
        <h1>welcome </h1>
        <div>结果：@ViewBag.sum </div>
        <div>@(a + b)</div>
        <div> @( "TIME:" + DateTime.Now.ToString() )</div>
    </div>

    <ul>
        @for (int i = 0; i < 10; i++)
        {
            <li>元素:@(i + 1)</li>
        }
    </ul>
</body>
</html>
